@import 'src/compass-theme';

.chart-container {
    @include containers;
    width: 400px;
}

h4 {
    @include sub-header;
    margin-top: 20px;
    margin-left: 40px;
}

.buffer {
    margin: 15px;
}