<div class="container">
    <div class="row">
        <button mat-flat-button color="primary" (click)="onAddStaffPressed()">Add a New Staff Member</button>
    </div>
    <div class="row">
        <mat-button-toggle-group aria-label="Favorite Color" (change)="onStatusChanged($event)" [(ngModel)]="selectedStatus">
            <mat-button-toggle value="Active">Active</mat-button-toggle>
            <mat-button-toggle value="Inactive">Inactive</mat-button-toggle>
            <mat-button-toggle value="All">All</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="card-container" *ngIf="staff?.length > 0; else noStaff">
        <div *ngFor="let person of staff">
            <mat-card class="staff-card">
                <mat-card-header>
                    <h4>{{ person.name }}</h4>
                    @if (person.status === 'Active') {
                    <button class="more-button" mat-icon-button aria-label="Activate/Deactivate"
                        (click)="toggleActivate(person)">
                        <mat-icon class="double-sized">toggle_on</mat-icon></button>
                    }
                    @else {
                    <button class="more-button" mat-icon-button aria-label="Activate/Deactivate">
                        <mat-icon color="warn" class="double-sized">toggle_off</mat-icon></button>
                    }
                </mat-card-header>
                <mat-card-content>
                    <div>{{ person.phone }}</div>
                    <div>{{ person.email }}</div>
                    <mat-divider></mat-divider>
                    <div class="chips">
                        <mat-chip-set>
                            <mat-chip>{{person.role}}</mat-chip>
                        </mat-chip-set>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <span class="button-container">
                        <button mat-flat-button color="primary" (click)="onEditStaffPressed(person)">Edit</button>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <ng-template #noStaff class="row">
        <h3>No Staff Found</h3>
    </ng-template>
</div>