@import 'src/compass-theme';

.container {
    @include containers;
    display: flex;
    flex-direction: column;
}

h4 {
    @include sub-header;
}

button {
    @include buttons;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}

.chips { 
    margin-top: 15px;
}

.example-card {
    width: 270px;
    margin: 10px;
}

img {
    object-fit: cover;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}
