<div class="container">
    <div class="row">
        <button mat-flat-button color="primary" (click)="onAddStaffPressed()">Add a New Staff Member</button>
    </div>
    <div class="card-container" *ngIf="staff.length > 0; else noStaff">
        <div *ngFor="let person of staff">
            <mat-card class="staff-card">
                <mat-card-header>
                    <mat-card-subtitle>
                        <h4>{{ person.name }}</h4>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>{{ person.phone }}</div>
                    <div>{{ person.email }}</div>
                    <mat-divider></mat-divider>
                    <div class="chips">
                        <mat-chip-set>
                            <mat-chip>{{person.role}}</mat-chip>
                        </mat-chip-set>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <span class="button-container">
                        <button mat-flat-button color="primary" (click)="onEditStaffPressed(person)">Edit</button>
                        <button mat-flat-button color="warn" (click)="onDeleteStaffPressed(person)">Delete</button>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <ng-template #noStaff class="row">
        <h3>No Staff Found</h3>
    </ng-template>
</div>