@import 'src/compass-theme';

.container {
    @include containers;
    display: flex;
    flex-direction: column;
}

h4 {
    @include sub-header;
}

button {
    @include buttons;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}

.chips { 
    margin-top: 15px;
}

.staff-card {
    width: $cardWidth;
    margin: 10px;
}