<div class="container">
  <h3>Edit the Vessel</h3>
  <form [formGroup]="vesselForm" action="#" #formDirective="ngForm"
    (ngSubmit)="onUpdateVesselPressed(vesselForm.value, formDirective)">
    <button mat-flat-button type="submit" color="primary">Update the Vessel</button>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>
    <div class="row">
      <mat-form-field>
        <mat-label>Document Number</mat-label>
        <input matInput id="documentNumber" type="number" formControlName="documentNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select id="vesselType" formControlName="vesselType" (selectionChange)="onVesselTypeChanged($event)">
          <mat-option *ngFor="let type of vesselTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Default Workflow</mat-label>
      <mat-select formControlName="vesselDefaultWorkflowId" (selectionChange)="onWorkflowChanged($event)" [(value)]="selectedWorkflowId">
        <mat-option *ngFor="let workflow of workflows" [value]="workflow.id">
          {{ workflow.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Owner</mat-label>
      <mat-select formControlName="ownerBoatsId" (selectionChange)="onOwnerChanged($event)" [(value)]="selectedOwner">
        <mat-option *ngFor="let owner of owners" [value]="owner.id">
          {{ owner.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>