@import 'src/compass-theme';

h4 {
    @include sub-header;
}

button {
    @include buttons;
    width: 100%;
}

mat-form-field {
    margin-top: 15px;
    width: 100%;
}

.container {
    @include containers;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 15px;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}