<div class="container">
    <h3>Edit an Action</h3>
    <form [formGroup]="actionForm" #formDirective="ngForm"
        (ngSubmit)="onUpdateActionPressed(actionForm.value, formDirective)">
        <div action="#" class="column">
            <div *ngIf="false">
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput id="id" type="text" formControlName="id">
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput id="name" type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Duration in minutes</mat-label>
                <input matInput id="duration" type="number" formControlName="duration">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea matInput id="notes" type="text" formControlName="notes"></textarea>
            </mat-form-field>
            <button mat-flat-button type="submit" color="primary">Update the Action</button>
        </div>
    </form>
</div>