<div class="container">
    <h3>Edit the Action</h3>
    <form [formGroup]="actionForm" #formDirective="ngForm"
        (ngSubmit)="onUpdateActionPressed(actionForm.value, formDirective)">
        <button mat-flat-button type="submit" color="primary">
            <mat-icon>refresh</mat-icon>Update the Action</button>
        <button mat-flat-button color="warn" (click)="onCancelPressed()">
            <mat-icon>cancel</mat-icon>Cancel</button>
        <div action="#" class="column">
            <div *ngIf="false">
                <mat-form-field>
                    <mat-label>Company</mat-label>
                    <input matInput id="id" type="text" formControlName="company">
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput id="name" type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Duration in minutes</mat-label>
                <input matInput id="duration" type="number" formControlName="duration">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea matInput id="notes" type="text" formControlName="notes"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>