@import 'src/compass-theme';

button {
  @include buttons;
  width: 100%;
  margin: 10px;
}

mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.container {
  @include containers;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.one-wide {
  flex-grow: 1;
}

.two-wide {
  flex-grow: 2;
}

