<div class="container">
    <button mat-flat-button color="primary" (click)="onAddNewChecklistPressed()">Add a New Checklist</button>
    <div *ngIf="checklists.length > 0; else noChecklists">
        <h3>Avilable Checklists</h3>
        <mat-list role="list">
            <cdk-virtual-scroll-viewport [itemSize]="100" class="action-list-viewport">
                <div *cdkVirtualFor="let checklist of checklists" class="spread">
                    <div matListItemTitle class="item-title"><b>{{ checklist.name }}</b>
                    </div>
                    <div matListItemMeta>
                        <button matListItemMeta mat-icon-button (click)="onItemSelected(checklist)"
                            [matMenuTriggerFor]="itemMenu">
                            <mat-icon>
                                more_vert
                            </mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </cdk-virtual-scroll-viewport>
        </mat-list>
        <mat-menu #itemMenu="matMenu">
            <button mat-menu-item (click)="onNotesPressed()">
                <mat-icon class="material-icons-outlined" color="primary">comment</mat-icon>notes
            </button>
            <button mat-menu-item (click)="onEditActionPressed()">
                <mat-icon class="material-icons-outlined" color="primary">edit</mat-icon>edit
            </button>
            <button mat-menu-item (click)="onDeleteActionPressed()">
                <mat-icon class="material-icons-outlined" color="warn">clear</mat-icon>delete
            </button>
        </mat-menu>
    </div>
    <ng-template #noChecklists>
        <h3>No Checklists Found</h3>
    </ng-template>
</div>