<div class="container">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Boat Column -->
    <ng-container matColumnDef="boat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Boat</th>
      <td mat-cell *matCellDef="let row">{{row.boat}}</td>
    </ng-container>

    <!-- Repair Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="repair">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Repair</th>
      <td mat-cell *matCellDef="let row">{{row.repair}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.numberOfOrders" [pageIndex]="0" [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>