@import 'src/compass-theme';

.container {
  @include containers;
}

h4 {
  @include sub-header;
  margin: 10px;
}

.full-width-table {
  margin-top: 15px;
  width: 80%;
}

.mat-column-id {
  flex: 0 0 10% !important;
  width: 10%;
}

.mat-column-boat {
  flex: 0 0 20% !important;
  width: 20%;
}

.mat-column-date {
  flex: 0 0 10% !important;
  width: 10%;
}

.mat-column-repair {
  flex: 0 0 50% !important;
  width: 50%;
}