<div class="container">
  <form [formGroup]="compositeForm" action="#" #formDirective="ngForm" (ngSubmit)="onAddNewVesselPressed(formDirective)">
    <div formGroupName="vesselForm" class="column">
      <button mat-flat-button type="submit" color="primary">
        <mat-icon>check_circle</mat-icon>
        Add the new Vessel</button>
      <button mat-flat-button color="warn" (click)="onCancelPressed()">
        <mat-icon>cancel</mat-icon>
        Cancel</button>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput id="name" type="text" formControlName="name">
      </mat-form-field>
      <div class="row">
        <mat-form-field>
          <mat-label>Document Number</mat-label>
          <input matInput id="documentNumber" type="number" formControlName="documentNumber">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select id="vesselType" formControlName="vesselType" value="Sail" (selectionChange)="onVesselTypeChanged($event)">
            <mat-option *ngFor="let type of vesselTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Default Workflow</mat-label>
        <mat-select (selectionChange)="onWorkflowChanged($event)">
          <mat-option *ngFor="let workflow of workflows" [value]="workflow.id">
            {{ workflow.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group [value]="ownerType" aria-label="Select an option" (change)="onOwnerTypeChanged($event)">
        <mat-radio-button value="existing">Existing Owner</mat-radio-button>
        <mat-radio-button value="new">New Owner</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="ownerType === 'existing'">
        <mat-form-field>
          <mat-label>Owner</mat-label>
          <mat-select (selectionChange)="onOwnerChanged($event)">
            <mat-option *ngFor="let owner of owners" [value]="owner.id">
              {{ owner.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="ownerType === 'new'">
      <div formGroupName="ownerForm" class="column">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="ownerName" type="text" formControlName="ownerName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput id="ownerPhone" type="phone" formControlName="ownerPhone">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="ownerEmail" type="email" formControlName="ownerEmail">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>