<div class="container">
  @if (checklists.length > 0) {
  <h3>Active Checklists</h3>
  <mat-selection-list>
    @for (checklist of checklists; track checklist.id) {
    <mat-list-option (click)="onItemChecked(checklist)">
      <div>{{ checklist.name }}</div>
      <div>{{ checklist.checklistOwnerId }}</div>
    </mat-list-option>
  }
  </mat-selection-list>
  <div class="completed" *ngIf="checklistCompleted"><b>Completed!</b></div>
  }
  @else {
  <h3>No Active Checklists Found!</h3>
  }
</div>