@import 'src/compass-theme';

h4 {
    @include sub-header;
    margin: 10px;
}

.finished {
    text-decoration: line-through;
    color: gray;
}

.todo {
    color: black;
    font-family: $textFont;
    font-size: 1.5em;
}

.completed {
    font-family: $textFont;
    margin: 25px 8px;
}