<div class="container">
    <h3>Add a new Owner</h3>
    <form [formGroup]="ownerForm" #formDirective="ngForm" (ngSubmit)="onAddNewOwnerPressed(ownerForm.value, formDirective)">
        <div action="#" class="column">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput id="name" type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput id="phone" type="phone" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput id="email" type="email" formControlName="email">
            </mat-form-field>
            <button mat-flat-button type="submit" color="primary">Add a new Owner</button>
        </div>
    </form>
</div>