<div cdkDropListGroup>
    <div class="container">
        <div class="one-wide">
            <form [formGroup]="checklistForm" #formDirective="ngForm"
                (ngSubmit)="onAddChecklistPressed(checklistForm.value, formDirective)">
                <button mat-flat-button type="submit" color="primary">Add the new Checklist</button>
                <button mat-flat-button color="warn" (click)="onCancelPressed()">Cancel</button>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Checklist name</mat-label>
                        <input matInput id="name" formControlName="name" placeholder="New Checklist">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Duration in Minutes</mat-label>
                        <input matInput id="duration" type="text" readonly formControlName="duration">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Notes</mat-label>
                        <textarea matInput id="notes" type="text" formControlName="notes"></textarea>
                    </mat-form-field>

                </div>
            </form>
        </div>
        <div class="row">
            <div class="example-container">
                <h4>New Checklist actions</h4>
                <div cdkDropList [cdkDropListData]="checklist" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div cdkDrag class="example-box" *ngFor="let item of checklist"> <mat-icon
                            class="material-symbols-outlined">drag_handle</mat-icon>
                        {{item.name}}</div>
                </div>
            </div>
            <div class="example-container">
                <h4>All actions</h4>
                <div cdkDropList [cdkDropListData]="actions" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div cdkDrag class="example-box" *ngFor="let item of actions"> <mat-icon
                            class="material-symbols-outlined">drag_handle</mat-icon>
                        {{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>