<div class="container">
  <form>
    <button mat-flat-button color="primary" (click)="onAddNewVesselPressed()">Add a New Vessel</button>
    <button mat-flat-button color="accent" (click)="fileUpload.click()">Upload a file of Vessels</button>
    <input required #fileUpload type="file" class="file-input" (change)="onFileSelected($event)">
  </form>
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
        <td mat-cell *matCellDef="let row">{{ row.type }}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="documentNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Document # </th>
        <td mat-cell *matCellDef="let row">{{ row.documentNumber }}</td>
      </ng-container>

      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let row">{{ row.owner }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEditVesselPressed(row)">
            <mat-icon class="material-icons-outlined" color="primary">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator [length]="dataSource.numberOfEvents" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>