<div class="container">
    <form>
        <input required #fileUpload type="file" class="file-input" (change)="onFileSelected($event)">
        <div class="file-upload">
            <button mat-icon-button type="button" (click)="fileUpload.click()">
                <mat-icon class="material-icons-outlined" color="primary">upload</mat-icon>
            </button>
            &nbsp;{{fileName || "Press to upload a file"}}
        </div>
    </form>
    <div class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <h4>La Barca</h4>
                </mat-card-subtitle>
                <mat-card-title>Dufour 37</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/boat-1.jpeg" width="200" height="200" alt="photo of a boat">
            <mat-card-content>
                <p>{{ items[0] }}</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>EDIT</button>
                <button mat-button>CALENDAR</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <h4>Speedy</h4>
                </mat-card-subtitle>
                <mat-card-title>Sea Ray 375</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/boat-2.jpeg" width="200" height="200" alt="photo of a boat">
            <mat-card-content>
                <p>{{ items[1] }}</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>EDIT</button>
                <button mat-button>CALENDAR</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <h4>Velero</h4>
                </mat-card-subtitle>
                <mat-card-title>Catalina 30</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/boat-3.jpeg" width="200" height="200" alt="photo of a boat">
            <mat-card-content>
                <p>{{ items[2] }}</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>EDIT</button>
                <button mat-button>CALENDAR</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img class="plus-image" src="../../../assets/add.png" width="200" height="200" alt="photo of a boat">
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
</div>