@import 'src/compass-theme';

.container {
    @include containers;
    display: flex;
    flex-direction: column;
}

.header-row {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: row;
}

h4 {
    @include sub-header;
}

img {
    object-fit: cover;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.plus-image {
    display: block;
    object-fit: cover;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.example-card {
    width: 300px;
    margin: 10px;
}

.file-upload {
    @include text-fonts;
    font-size: 20px;
}

.file-input {
    display: none;
}

.upload-progress {
    margin-top: 20px;
    margin-bottom: 20px;
}