<div class="workflow-list-container">
  <h4>Active Workflows</h4>
  <mat-list>
    <cdk-virtual-scroll-viewport [itemSize]="30" class="workflow-list-viewport">
      <div *cdkVirtualFor="let item of items">
        <h3>Charter: {{ item.name }}</h3>
        <p><b>Location:</b> Coronado, CA <b>Start:</b> 18 March 2023 at 1000</p>
        <p [ngClass]="{'late-item' : checkLateStatus(item.status)}">Status: <b>{{ item.status }}</b></p>
        <mat-divider></mat-divider>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>