@import 'src/compass-theme';

.container {
    @include containers;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.four-wide {
    @include box;
    flex-grow: 4;
}

.two-wide {
    @include box;
    flex-grow: 2;
}