<div class="container">
  <h4>Assign The Workflow</h4>
  <h3 class="tight">Charter: {{ workflow.item }}</h3>
  <p class="tight">Charter starting on: {{ workflow.start | date: 'short' }}</p>
  <form>
    <mat-stepper orientation="vertical" #stepper>
      <mat-step>
        <ng-template matStepLabel>Configure the Team Pre-charter Checklist</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Assign To</mat-label>
          <mat-select [formControl]="precharterTeamSelectControl">
            <mat-option value="#PRCT1">Team Member #1</mat-option>
            <mat-option value="#PRCT2">Team Member #2</mat-option>
            <mat-option value="#PRCT3">Team Member #3</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-flat-button color="secondary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Configure the Team Pre-charter Checklist</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Assign To</mat-label>
          <mat-select [formControl]="precharterCaptainSelectControl">
            <mat-option value="#C1">Captain #1</mat-option>
            <mat-option value="#C2">Captain #2</mat-option>
            <mat-option value="#C3">Captain #3</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-flat-button color="secondary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Start the Workflow </ng-template>
        <div>
          <button mat-flat-button color="primary" (click)="onStartWorkflowPressed()">Start</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>