<div class="workflow-list-container">
  <mat-list class="tight">
    <cdk-virtual-scroll-viewport [itemSize]="15" class="workflow-list-viewport">
      <div *cdkVirtualFor="let item of items">
        <b>Charter: {{ item.name }}</b>
        <p>Location:Coronado, CA <b>Start:</b> 18 September 2024 at 1000</p>
        <p [ngClass]="{'late-item' : checkLateStatus(item.status)}">Status: <b>{{ item.status }}</b></p>
        <mat-divider></mat-divider>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>