@import 'src/compass-theme';

.workflow-list-viewport {
    @include viewport;
    margin: 15px;
}

.left-align {
    text-align: left;
}

.on-time-item {
    color: green;
}

.late-item {
    color: red;
}
