@import 'src/compass-theme';

h4 {
    @include sub-header;
    margin: 10px;
}

.workflow-list-container {
    @include containers;
}

.workflow-list-viewport {
    @include viewport;
    width: 560px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}