<div class="container">
  <h4>Pending Workflows</h4>
  <mat-list>
    <cdk-virtual-scroll-viewport [itemSize]="30" class="workflow-list-viewport">
      <div *cdkVirtualFor="let item of items">
        <h3>Charter: {{ item.item }}</h3>
        <p><b>Start:</b> {{ item.start | date: 'short' }}</p>
        <button mat-raised-button color="primary" (click)="onPendingItemSelected(item)">Configure</button>
        <mat-divider></mat-divider>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>