@import 'src/compass-theme';

h4 {
    @include sub-header;
    margin: 10px;
}

.workflow-list-container {
    @include containers;
    width: 400px;
}

.workflow-list-viewport {
    @include viewport;
}

.on-time-item {
    color: green;
}

.late-item {
    color: red;
}
