<div class="container">
  <h3>Pending Workflows</h3>
  <mat-list>
    <cdk-virtual-scroll-viewport [itemSize]="30" class="workflow-list-viewport">
      <div *cdkVirtualFor="let item of items">
        <h4>Charter: {{ item.item }}</h4>
        <p><b>Start:</b> {{ item.start | date: 'short' }}</p>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="onPendingItemSelected(item)">Configure</button>
          <button mat-raised-button color="warn" (click)="onDeleteItemSelected(item)">Delete</button>
          <mat-divider></mat-divider>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>