<div cdkDropListGroup>
    <div class="container">
        <h3>Edit the Workflow</h3>
        <div class="one-wide">
            <form [formGroup]="workflowForm" #formDirective="ngForm"
                (ngSubmit)="onUpdateWorkflowPressed(workflowForm.value)">
                <button mat-flat-button type="submit" color="primary">Update the Checklist</button>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Workflow name</mat-label>
                        <input matInput id="name" formControlName="name" placeholder="New Checklist">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Duration in Minutes</mat-label>
                        <input matInput id="duration" type="text" readonly formControlName="duration">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Notes</mat-label>
                        <textarea matInput id="notes" type="text" formControlName="notes"></textarea>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="example-container two-wide">
                <h4>Current Workflow checklists</h4>
                <div cdkDropList [cdkDropListData]="workflow" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div cdkDrag class="example-box" *ngFor="let item of workflow"> <mat-icon
                            class="material-symbols-outlined">drag_handle</mat-icon>
                        {{item.name}}</div>
                </div>
            </div>
            <div class="example-container two-wide">
                <h4>All Checklists</h4>
                <div cdkDropList [cdkDropListData]="checklists" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div cdkDrag class="example-box" *ngFor="let item of checklists"> <mat-icon
                            class="material-symbols-outlined">drag_handle</mat-icon>
                        {{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>