<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <div class="sidenav-buttons">
      @if (userRole === 'OpsManager') {
      <button mat-button [color]="activeButton === 'top' ? 'accent' : 'primary'" (click)="onTopPressed()">
        <mat-icon class="double-sized">language</mat-icon>
        <span class="sidenav-button-text">Top</span>
      </button>
      }
      <!-- @if (userRole === 'Any') -->
      <button mat-button [color]="activeButton === 'messages' ? 'accent' : 'primary'" (click)="onMessagesPressed()">
        <mat-icon class="double-sized">chat</mat-icon>
        <span class="sidenav-button-text">Messages</span>
      </button>
      @if (userRole === 'OpsManager') {
      <button mat-button 
        [color]="activeButton === 'pending' ? 'accent' : 'primary'" (click)="onPendingPressed()">
        <mat-icon class="material-symbols-outlined double-sized">check_box</mat-icon>
        <span class="sidenav-button-text">Pending ({{pendingItems}})</span>
      </button>
      }
      @if ((userRole === 'OpsManager') || (userRole === 'Admin')) {
      <button mat-button [color]="activeButton === 'fleet' ? 'accent' : 'primary'" (click)="onFleetPressed()">
        <mat-icon class="double-sized">sailing</mat-icon>
        <span class="sidenav-button-text">Fleet</span>
      </button>
      <button mat-button [color]="activeButton === 'staff' ? 'accent' : 'primary'" (click)="onStaffPressed()">
        <mat-icon class="double-sized">badge</mat-icon>
        <span class="sidenav-button-text">Staff</span>
      </button>
      <button mat-button [color]="activeButton === 'owners' ? 'accent' : 'primary'" (click)="onOwnersPressed()">
        <mat-icon class="double-sized">person</mat-icon>
        <span class="sidenav-button-text">Owners</span>
      </button>
      <button mat-button [color]="activeButton === 'workflowAdmin' ? 'accent' : 'primary'"
        (click)="onWorkflowAdminPressed()">
        <mat-icon class="double-sized">schema</mat-icon>
        <span class="sidenav-button-text">Workflow Admin</span>
      </button>
      <button mat-button [color]="activeButton === 'checklistAdmin' ? 'accent' : 'primary'"
        (click)="onChecklistAdminPressed()">
        <mat-icon class="double-sized">fact_check_circle</mat-icon>
        <span class="sidenav-button-text">Checklist Admin</span>
      </button>
      <button mat-button [color]="activeButton === 'actionAdmin' ? 'accent' : 'primary'"
        (click)="onActionAdminPressed()">
        <mat-icon class="double-sized">check_circle</mat-icon>
        <span class="sidenav-button-text">Action Admin</span>
      </button>
      }
      @if ((userRole === 'OpsManager') || (userRole === 'ServiceManager')) {
      <button mat-button [color]="activeButton === 'inventory' ? 'accent' : 'primary'" (click)="onInventoryPressed()">
        <mat-icon class="double-sized">pallet</mat-icon>
        <span class="sidenav-button-text">Inventory</span>
      </button>
      <button mat-button [color]="activeButton === 'services' ? 'accent' : 'primary'" (click)="onServicesPressed()">
        <mat-icon class="double-sized">home_repair_service</mat-icon>
        <span class="sidenav-button-text">Service Orders</span>
      </button>
      }
      <mat-divider></mat-divider>
      @if ((userRole === 'OpsManager') || (userRole === 'Admin')) {
      <div>
        <button mat-button [color]="activeButton === 'demo' ? 'accent' : 'primary'" (click)="onDemoPressed()">
          <mat-icon class="double-sized">add_to_queue</mat-icon>
          <span class="sidenav-button-text">Add Demo Data</span>
        </button>
      </div>
      }
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">Compass Operations, Welcome {{ userName }} ({{ userRole }})</span>
      <span class="spacer"></span>
      <button (click)="onLogoutPressed()" mat-button color="primary">
        <mat-icon class="double-sized">logout</mat-icon>
        <span class="logout-button">Logout</span>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>