<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <div class="sidenav-buttons">
      <button mat-button color="primary" (click)="onHomePressed()">
        <mat-icon class="double-sized">home</mat-icon>
        <span class="sidenav-button-text">Home</span>
      </button>
      <button mat-button color="primary" (click)="onFleetPressed()">
        <mat-icon class="double-sized">sailing</mat-icon>
        <span class="sidenav-button-text">Fleet</span>
      </button>
      <button matBadge="3" mat-button color="primary" (click)="onPendingPressed()">
        <mat-icon class="material-symbols-outlined double-sized">check_box</mat-icon>
        <span class="sidenav-button-text">Pending</span>
      </button>
      <button mat-button color="primary" (click)="onStaffPressed()">
        <mat-icon class="double-sized">badge</mat-icon>
        <span class="sidenav-button-text">Staff</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">Compass</span>
      <span class="spacer"></span>
      <button (click)="onLogoutPressed()" mat-button color="primary">
        <mat-icon class="double-sized">logout</mat-icon>
        <span class="logout-button">Logout</span>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>