<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <div class="sidenav-buttons">
      <button mat-button color="primary" (click)="onTopPressed()">
        <mat-icon class="double-sized">language</mat-icon>
        <span class="sidenav-button-text">Top</span>
      </button>
      <button [matBadge]="pendingItems" matBadgeSize="medium" mat-button color="primary" (click)="onPendingPressed()">
        <mat-icon class="material-symbols-outlined double-sized">check_box</mat-icon>
        <span class="sidenav-button-text">Pending</span>
      </button>
      <button mat-button color="primary" (click)="onFleetPressed()">
        <mat-icon class="double-sized">sailing</mat-icon>
        <span class="sidenav-button-text">Fleet</span>
      </button>
      <button mat-button color="primary" (click)="onStaffPressed()">
        <mat-icon class="double-sized">badge</mat-icon>
        <span class="sidenav-button-text">Staff</span>
      </button>
      <button mat-button color="primary" (click)="onOwnersPressed()">
        <mat-icon class="double-sized">person</mat-icon>
        <span class="sidenav-button-text">Owners</span>
      </button>
      <button mat-button color="primary" (click)="onChecklistPressed()">
        <mat-icon class="double-sized">checklist</mat-icon>
        <span class="sidenav-button-text">Checklists</span>
      </button>
      <button mat-button color="primary" (click)="onWorkflowPressed()">
        <mat-icon class="double-sized">schema</mat-icon>
        <span class="sidenav-button-text">Workflow Admin</span>
      </button>
      <button mat-button color="primary" (click)="onChecklistAdminPressed()">
        <mat-icon class="double-sized">fact_check</mat-icon>
        <span class="sidenav-button-text">Checklist Admin</span>
      </button>
      <button mat-button color="primary" (click)="onActionsPressed()">
        <mat-icon class="double-sized">check_circle</mat-icon>
        <span class="sidenav-button-text">Action Admin</span>
      </button>
      <button mat-button color="primary" (click)="onInventoryPressed()">
        <mat-icon class="double-sized">forklift</mat-icon>
        <span class="sidenav-button-text">Inventory</span>
      </button>
      <button mat-button color="primary" (click)="onServicesPressed()">
        <mat-icon class="double-sized">home_repair_service</mat-icon>
        <span class="sidenav-button-text">Service Orders</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">Waypoint Operations</span>
      <span class="spacer"></span>
      <button (click)="onLogoutPressed()" mat-button color="primary">
        <mat-icon class="double-sized">logout</mat-icon>
        <span class="logout-button">Logout</span>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>