@use '@angular/material' as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$compass-frontend-primary: mat.define-palette(mat.$indigo-palette);
$compass-frontend-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

$compass-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$compass-frontend-theme: mat.define-light-theme((
  color: (
    primary: $compass-frontend-primary,
    accent: $compass-frontend-accent,
    warn: $compass-frontend-warn,
  )
));


@include mat.all-component-themes($compass-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
