<div class="container">
    <button mat-flat-button color="primary" (click)="onAddNewActionPressed()">Add a New Action</button>
    <div *ngIf="actions.length > 0">
        <h3>Available Actions</h3>
        <mat-list role="list">
            <cdk-virtual-scroll-viewport [itemSize]="100" class="action-list-viewport">
                <div *cdkVirtualFor="let action of actions" class="spread">
                    <div matListItemTitle class="item-title"><b>{{ action.name }}</b> ({{action.duration}} minutes)</div>
                    <div matListItemMeta>
                        <button matListItemMeta mat-icon-button (click)="onItemSelected(action)"
                            [matMenuTriggerFor]="itemMenu">
                            <mat-icon>
                                more_vert
                            </mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </cdk-virtual-scroll-viewport>
        </mat-list>
        <mat-menu #itemMenu="matMenu">
            <button mat-menu-item (click)="onNotesPressed()">
                <mat-icon class="material-icons-outlined" color="primary">comment</mat-icon>notes
            </button>
            <button mat-menu-item (click)="onEditActionPressed()">
                <mat-icon class="material-icons-outlined" color="primary">edit</mat-icon>edit
            </button>
            <button mat-menu-item (click)="onDeleteActionPressed()">
                <mat-icon class="material-icons-outlined" color="warn">clear</mat-icon>delete
            </button>
        </mat-menu>
    </div>
    <div *ngIf="actions.length == 0">
        <h3>No Actions Found</h3>
    </div>
</div>