@import 'src/compass-theme';

h4 {
    @include sub-header;
}

button { 
    @include buttons;
    width: 100%;
}

.container {
    @include containers;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 15px;
    gap: 10px;
}
