<div class="container">
    <h3>Edit the Owner</h3>
    <form [formGroup]="ownerForm" #formDirective="ngForm"
        (ngSubmit)="onUpdateOwnerPressed(ownerForm.value)">
        <button mat-flat-button type="submit" color="primary"><mat-icon>refresh</mat-icon>Update the Owner</button>
        <button mat-flat-button color="warn" (click)="onCancelPressed()"><mat-icon>cancel</mat-icon>Cancel</button>
        <div action="#" class="column">
            <div *ngIf="false">
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput id="id" type="text" formControlName="id">
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput id="name" type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput id="phone" type="phone" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput id="email" type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Vessels</mat-label>
                <mat-select [compareWith]="isOwned" id="vessels" formControlName="vessels" multiple>
                    <mat-option *ngFor="let vessel of vesselList" [value]="vessel.id"
                        (onSelectionChange)="onVesselChanged($event)">{{vessel.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>